body {
    background-color: rgb(109, 249, 223);
}

.titre {
    text-align: center;
    font-family:fantasy;
    color:rgb(29, 124, 41);
    font-size: 130px;

    margin-bottom: -80px;
}

.sous-titre {
    text-align: center;
    color:rgb(32, 113, 60);
    font-weight: bold;
    font-style: italic;
}

.slogan {
    text-align: center;
    color: rgb(29, 124, 41);
    font-family: fantasy;
}

.presentation {
    text-align: center;
    font-style: italic;
    background-color: rgb(255, 255, 255); 
    color: rgba(38, 168, 83, 0.957);
    width: 350px;

    border: solid 3px rgb(109, 204, 235);
    border-radius: 5px;

    padding-top: 20px;
    padding-bottom: 200px;
    padding-left: 20px;
    padding-right: 20px;
    
    margin-left: 700px;
    margin-bottom: 100px;
    margin-top: 200px;
}

.habitats {
    height: 400px;
    width: 400px;

    border-radius: 200px;
    border: solid 5px white;

    margin-left: 200px;
}

.histoire {
    height: 400px;
    width: 400px;

    border-radius: 200px;
    border: solid 5px white;

    margin-left: 80px;
}

.service {
    height: 400px;
    width: 400px;

    border-radius: 200px;
    border: solid 5px white;

    margin-left: 80px;
}